@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 3rem;
	text-align: center;
	justify-items: center;
}

body {
	display: flex;
	background-color: rgb(254, 255, 232);
}

h2 {
	font-family: 'IBM Plex Mono', monospace;
	color: rgb(188, 185, 248);
	font-size: 30px;
}

.app-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-input {
	height: 55px;
	margin: 30px;
	border: 2px solid rgb(255, 172, 251);
	padding: 10px;
	font-size: 14px;
	font-family: 'IBM Plex Mono', monospace;
}

button {
	letter-spacing: 1px;
	display: block;
	border-width: 0;
	font-size: 18px;
	padding: 1.5rem 2rem;
	cursor: pointer;
	transition: 0.25s ease;
}

.clay {
	--clay-background: #c7d0f5;
	--clay-border-radius: 1rem;
	--clay-shadow-outset: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
	--clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0, 0, 0, 0.2);
	--clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0, 0%, 100%, 0.4);
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

button:hover {
	background-color: #a9b6ec;
}

button:active {
	background-color: #6374b8;
}

.clay:active {
	transform: scale(0.98) translate3d(0, 0, 0);
}

.result-image {
	margin-top: 75px;
	width: 350px;
	border: 40px solid rgb(218, 216, 234);
}

@media (max-width: 440px) {
	#root,
	.app-main,
	.app-input {
		margin: 0px;
		padding: 0px;
	}

	.app-input,
	#root {
		width: 100%;
	}

	#root {
		padding: 20px;
	}
}
